<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      keepVariablesOnReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="${basedir}/logs/nlog.log" >
  <!-- internalLogLevel值：Off|Trace|Debug|Info|Warn|Error|Fatal -->

  <!--async设置同步异步。true：异步；false：同步-->
  <targets async="true">
    <target name="console" xsi:type="Console" />

    <!-- write logs to file -->
    <target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}.txt" maxArchiveFiles="3000"
					layout="${longdate}|${level:uppercase=true}|message：${message}${onexception:|exception：${exception:format=tostring}}" encoding="utf-8">
    </target>

    <!-- write logs to file -->
    <target name="errorfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}_error.txt" maxArchiveFiles="3000"
					layout="${longdate}|${level:uppercase=true}|message：${message}${onexception:|exception：${exception:format=tostring}}" encoding="utf-8">
    </target>

  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />

    <!-- Trace|Debug|Info|Warn|Error|Fatal -->
    <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="file" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errorfile" />

  </rules>
</nlog>